<!--The content below is only a placeholder and can be replaced.-->
<link href="https://global.oktacdn.com/okta-signin-widget/3.2.2/css/okta-sign-in.min.css" type="text/css"
  rel="stylesheet" />

<div class="container-fluid">
  <div class="col-12">
    <div style="text-align:right">
      <div class="btn-group">
        <button *ngIf="!isAuthenticated" (click)="login()" class="btn btn-primary"> Login / SignUp</button>
        <button *ngIf="isAuthenticated" (click)="logout()" class="btn btn-danger"> Logout </button>
      </div>
    </div>
  </div>
  <router-outlet *ngIf="!isAuthenticated" name="sidebar"></router-outlet>
  <router-outlet></router-outlet>
</div>